.jumbotron
  .row
    .col-md-12
      %h2{style:'color:#FFF;text-align:center;'} MY OWN HOMESTAY - AIRBNB
.row
  .col-md-12
    = simple_form_for @booking, url: root_path, class:'form-inline', method: :get do |f|
      .row.datetimerange
        = f.input :start_date, as: :datetime_picker, wrapper: :ranged_datetime
        = f.input :end_date, as: :datetime_picker, wrapper: :ranged_datetime

      = f.input :number_of_guests, :collection =>  [1], :include_blank => true, :input_class => false, :input_html => { :class => "guests" }
      = f.button :submit, 'Search'
- if not @bookings.empty?
  %hr
  .text-center
    = will_paginate @bookings
  .row{style:"margin-top=20px;"}

    - @bookings.each do |room|
      .room-block-element.col-lg-4
        .room-block-header
          = room.host.address
        .room-block-image
          %img{ itemprop: "image", src: "#{room.host.picture_url}", height:"150", width:"260"}
        .room-block-text
          .row
            .col-lg-6
              = room.host.name
            .col-lg-6.text-right
              = "#{room.capacity} rooms"
              = render partial: 'beds', locals: {room: room}

  .text-center
    = will_paginate @bookings