.row
  .col-md-6
    %h2 TEST CODE HOMESTAY
  .col-md-6
    = simple_form_for @booking do |f|
      .row.datetimerange

        = f.input :start_date, as: :datetime_picker, wrapper: :ranged_datetime
        = f.input :end_date, as: :datetime_picker, wrapper: :ranged_datetime
        = f.input :number_of_guests ,:collection =>  1..10,:include_blank => true
        = f.button :submit